* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", serif;
}
body {
  z-index: 0;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 0px 5px black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
}
ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-icon {
  display: none;
  font-weight: 600;
  font-size: 3rem;
  align-content: center;
  align-self: center;
  justify-self: end;
}
.logo {
  font-size: 2rem;
}
.cta {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  justify-self: flex-end;
}
.cta div {
  /* border: 0.2rem solid black; */
  border: 2px solid rgba(27, 27, 27, 0.16);
  border-radius: 200px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}
.cta .book {
  background-color: black;
  color: white;
}
.hoverdiv {
  display: none;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  text-align: center;
  background-color: white;
  box-shadow: 1px 0px 5px rgb(142, 142, 142);
}
li {
  position: relative;
}
.item:hover {
  cursor: pointer;
}
.item:hover .hoverdiv {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}
main {
  background-color: #b1d8fc;
  padding: 30px;
  /* position: relative; */
}
main img {
  width: 100%;
}
.description {
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.firstHeading {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tax div:nth-child(1) {
  background-color: white;
  padding: 8px;
  text-align: center;
  transform: skew(-15deg);
  display: block;
  animation: word 2s ease-in 0s infinite forwards;
  position: relative;
  top: 0px; 
}

@keyframes word {
  0% {
    top:-100px;
  }
  100% {
    top:0;
  }
}

.tax p {
  transform: skew(15deg);
}
.description .startbtn {
  width: fit-content;
  border: 0.2rem solid black;
  border-radius: 24px;
  padding: 8px;
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
}
.description p {
  text-align: center;
}
.main-grid {
  width: 100%;
}
.logo-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.logo-grid div {
  margin: 0 1rem;

}
.logo-grid img{
  
width:80px;
height: 70px;
object-fit: contain;
}

.pro {
  padding: 30px;
  background-color: #fffbf4;
}
.people {
  width: 100%;
  /* padding: 1rem; */
  display: flex;
  
}
.car-card {
  font-size: 18px;
  /* height: min(260px,fit-content); */
  width: 30%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.8rem;
  padding: 1.8rem;
}
.first .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.people .first {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.first .heading {
  font-size: 3rem;
  font-weight: 700;
}
.card .first-card {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}
.card .second-card {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}
.second img {
  width: 100%;
}
.card .start-btn {
  border: 0.2rem solid black;
  border-radius: 24px;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  width: max-content;
  background-color: black;
  color: white;
}
.carousel-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: stretch;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  scroll-behavior: smooth; 
}
.arrow-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-div .arrow{
  display: flex;
  gap:1rem;
}

.arrow-div .arrow img{
  /* border:1px solid black; */
  border-radius: 50%;
  padding: 5px;
  background-color: black;
  cursor: pointer;  
}
.car-card:nth-child(1) {
  background-color: #ff90bc;
}
.car-card:nth-child(2) {
  background-color: #8acdd7;
}
.car-card:nth-child(3) {
  background-color: #cb9df0;
}
.car-card:nth-child(4) {
  background-color: #8acdd7;
}
.car-card:nth-child(5) {
  background-color: #ff90bc;
}
.car-card:nth-child(6) {
  background-color: #8acdd7;
}
.car-card:nth-child(7) {
  background-color: #cb9df0;
}
.car-card:nth-child(8) {
  background-color: #8acdd7;
}
.car-card:nth-child(9) {
  background-color: #8acdd7;
}
.car-card:nth-child(10) {
  background-color: #cb9df0;
}
.car-card:nth-child(11) {
  background-color: #8acdd7;
}

.numbers {
  padding: 30px;
}
.number-list {
  width: 100%;
  /* background-color: #ff90bc; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.number-box {
  flex: 0 0 auto;
  /* background-color: #cb9df0; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.number-box img {
  width: 100px;
  height: 100px;
}
.col {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}
.col .logo-number {
  font-size: 2rem;
  font-weight: 600;
}
.number-heading {
  font-size: 1.5rem;
  font-size: 500;
}
.grid-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.grid-card {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
  justify-content: center;
  background-color: #fffbf4;
  padding: 30px;
}
.grid-card-card {
  background-color: #ff90bc;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  height: 350px;
}
.grid-card-card .button-card {
  display: flex;
  gap: 0.5rem;
}
.button-card div {
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 8px;
  border-radius: 200px;
}

.grid-card-card:nth-child(1) {
  grid-column: 1/3;
  background-color: #b1d8fc;
}
.grid-card-card:nth-child(2) {
  background-color: #ffe27c;
  grid-column: 3/4;
}
.grid-card-card:nth-child(3) {
  grid-column: 1/2;
  background-color: #ffe27c;
}
.grid-card-card:nth-child(4) {
  grid-column: 2/4;
  background-color: #c4b1f9;
}
.grid-card-card:nth-child(5) {
  grid-column: 1/3;
}
.grid-card-card:nth-child(6) {
  grid-column: 3/4;
  background-color: #ffe27c;
}
.ad {
  background-color: rgb(39, 37, 37);
  padding: 30px;
  color: white;
}
.ad .ad-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.ad .ad-card {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.ad-card-card {
  /* max-width: 300px; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
 
}
.ad-card-card img {
  width: 100%;
}
.ad-btn {
  width: max-content;
  border-radius: 24px;
  padding: 8px;
  font-size: 1rem;
  background-color: white;
  color: black;
  margin: 1rem 0;
}
.ad-first {
  justify-self: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features {
  padding: 30px;
  background-color: black;
  color: white;
}
.feature-list {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 3rem;
}
.feature-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature-name .name {
  font-size: 1.5rem;
}
.features .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps {
  padding: 30px;
}
.steps .heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.step-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.step-img img {
  width: 100%;
}
.step-heading {
  display: flex;
  gap: 16px;
  align-items: center;
}
.step-number {
  display: inline-block;
  border-radius: 50%;
  background-color: cadetblue;
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
}

.step-content {
  margin: 0.8rem;
  padding-left: 30px;
  border-left: 2px solid black;
}
footer {
  padding:30px ;
  background-color: black;
  color: white;
}
footer .card-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-section > .heading {
  font-size: 2rem;
}
.rating-card {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* background-color: #b1d8fc; */
}
.rating {
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 1.5rem;
}
.rating .rating-card .desc {
  font-size: 0.9rem;
  /* min-width:30%; */

}
.rating-card  .heading {
  font-size: 1.2rem;
}
.rating-card span{
  color: antiquewhite;
}
.products{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 1rem;
  border-bottom:1px solid #fffbf4;
  padding-bottom: 30px;
}
.product-card ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:0.8rem;
}
.product-card ul li{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.product-card{
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.product-card div:nth-child(1){
  font-size: 16px;
  font-weight: 500;
 
}

/* /small screen */
@media screen and (max-width: 768px) {
  .description {
    width: 100%;
  }
  .navbar ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .people {
    display: inline-block;
  }
  .people .first {
    width: 100%;
  }
  .people .second {
    width: 100%;
  }
  .first .heading {
    font-size: 2rem;
    font-weight: 500;
  }
  .card .first-card {
    font-size: 1rem;
  }
  .car-card {
    width: 50%;
  }
  .feature-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .step-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .rating .rating-card {
    min-width: 50%;
  }
  .products{
     grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 1rem;
  }
  .car-card{
    width:70%;
  }
  .products{
    grid-template-columns: repeat(2,1fr);
  }
  .ad .ad-card {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  
    
  }
  .ad-card-card {
    max-width: 70%;
    min-height: 250px;
  }
  .cookie-btn button{
    border:2px solid #1032CF;
    padding: 4px;
    font-size: medium;
    font-weight: 500;
  
  }
  .cookie-btn{
    display: flex;
    gap:0.3rem;
  }


}
.cookies {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 100%;
  
  
  position: fixed;
  bottom:-600px;
  transition: bottom 2s ease-in-out;

  /* bottom:0px; */
  

}
.cookies-desc{
  font-size: 11px;
}

.cookie-btn{
  display: flex;
  gap:0.5rem;
}
.cookie-btn button{
  border:3px solid #1032CF;
  padding: 6px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;

}
.cookie-btn button.allow{
  background-color:#1032CF ;
  color: white;

}



